/* Anish Joglekar */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url(https://fonts.google.com/share?selection.family=Molle:ital@1|Montserrat);

h1,
h2,
h3 {
  font-family: "Molle";
}

h4,
p,
q,
small,
nav,
button,
form {
  font-family: "Montserrat";
}

:root {
  --yellow: #f6d64a;
  --teal: #55bcd5;
  --purple: #9b26b0;
  --blue: #499bd2;
  --dark-gray: #222222;
  --light-gray: #eaeaea;
  --white: #ffffff;
  --black: #000000;
}

#skip,
.sr-only {
  overflow: hidden;
  position: absolute;
  left: -10000px;
}

header {
  display: grid;
  background-image: linear-gradient(var(--teal), var(--white));
}

header img {
  grid-row: 1;
  grid-column: 1;
}

header p {
  font-size: 1.3em;
  padding-left: 1.5em;
}

/* Hamburger Menu */

nav {
  margin-top: auto;
  grid-row: 1;
  grid-column: 1;
}

#menu-toggle label {
  display: inline-block;
}

h1 {
  font-size: 3em;
  padding-left: 0.7em;
  padding-top: 0.5em;
}

h2 {
  font-size: 2em;
  font-weight: 250;
  padding-left: 1em;
  padding-top: 0.5em;
}

h3 {
  font-size: 2em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#intro p {
  padding-left: 2em;
}

#img-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#img-grid img {
  padding-top: 0.5em;
}

#img-grid:last-child {
  padding-bottom: 1em;
}

#plan {
  padding-bottom: 1em;
  background-color: var(--yellow);
}

#plan h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: large;
}

#plan section {
  display: block;
  text-transform: uppercase;
  padding-bottom: 1em;
  border: solid var(--white);
  background-color: var(--teal);
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

#plan img {
  padding-bottom: 1em;
  background-color: var(--teal);
}

#testimonials h4 {
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

#testimonials section {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 250px;
  padding-bottom: 1em;
}

#about {
  background-color: var(--blue);
}

#about div {
  background-color: var(--blue);
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#about h4 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#about p {
  font-style: italic;
}

#about section {
  text-align: center;
  justify-items: center;
  padding-bottom: 1em;
}

#contact {
  padding-top: 1em;
  padding-bottom: 1em;
}

form {
  display: block;
  padding-left: 2em;
  max-width: 250px;
}

form .required {
  color: var(--purple);
  display: inline-block;
  font-size: small;
}

.form-required {
  font-family: "Montserrat";
  font-size: 0.75em;
  font-weight: 100;
  font-style: italic;
}

input {
  border-color: var(--purple);
}

label,
legend {
  font-weight: 500;
  text-transform: uppercase;
}

/* fieldset label {
  display: inline-block;
  text-align: center;
} */
